body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
    margin-left: 20%;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password],input[type=number] {
    width: 70%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
  }

  input[type=tel]{
    width: 70%;
    padding: 10px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: white;

  }
  
  input::-webkit-calendar-picker-indicator {
    opacity: 100;
 }

  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  h1{
      margin-bottom: 0;
  }
  p{
      margin-top: 0;
  }

  p2{
    font-size: 10px;
    margin-top: 0;
 }

  /* Set a style for the submit button */
  .registerbtn {
    background-color: #f80174;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
    border-radius: 5px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  .signinbtn {
    background-color: white;
    margin-left: 2%;
    padding: 5px 25px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Add a blue text color to links */
  a {
    color: black;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    text-align: right;
    align-items: right;
  }

  
  .tandc{
      width: 70%;
      font-size: 11.5px;
  }